Pytest/Exercicio 1 - Peso_Ideal/__pycache__/peso_ideal.cpython-314.pyc
Pytest/Exercicio 1 - Peso_Ideal/__pycache__/test_peso_ideal.cpython-314-pytest-9.1.1.pyc
Unittest/Exercicio AP1/__pycache__/tabela_calculo_imc.cpython-314.pyc
Unittest/Exercicio AP1/__pycache__/test_calculo_imc.cpython-314-pytest-9.1.1.pyc
Unittest/exercicio01-Escolar/__pycache__/media_aproveitamento.cpython-314.pyc
Unittest/exercicio01-Escolar/__pycache__/test_media_aproveitamento.cpython-314-pytest-9.1.1.pyc
Unittest/exercicio02-Aposentadoria/__pycache__/test_vqe.cpython-314-pytest-9.1.1.pyc
Unittest/exercicio02-Aposentadoria/__pycache__/verificar_qualificacao_empregado.cpython-314.pyc
